:root {
  --color-gray: #393c41;
  --mx-width: 1200px;
  --color-primary: #004aac;
  --color-secondary: #024398;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  letter-spacing: 0.12rem;
  word-spacing: 0.16rem;
  line-height: 1.5rem;
  font-family: "Poppins", sans-serif;
}
img,
video {
  max-width: 100%;
  height: auto;
}

[role="button"],
button {
  cursor: pointer;
}

header {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  z-index: 1000;
  background: #e0eaf7;
}

header > .inner-header,
.inner-header {
  max-width: var(--mx-width);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  min-height: 60px;
}

.burger {
  margin-right: 10px;
  background: transparent;
  border: 0;
}
/* 
#close-button {
  width: 32px !important;
} */

.burger-img {
  height: 30px;
  width: auto;
  max-width: 36pxpx;
}

header > .inner-header > a {
  position: absolute;
  top: 4px;
  left: 10px;
  height: 110px;
  border-radius: 50%;
  background-color: white;
  border-bottom: 3px solid #e0eaf7;
}

header > .inner-header > a > img {
  border-radius: 10px;
  height: 110px;
}

header > .inner-header > nav {
  width: 100%;
}

header > .inner-header > nav > ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header > .inner-header > nav > ul > li {
  list-style-type: none;
}

header > .inner-header > nav > ul > li > a {
  list-style-type: none;
  color: black;
  text-decoration: none;
}

header > .inner-header > nav > ul > li > a:hover {
  text-decoration: underline;
  text-underline-position: under;
}

header > .inner-header > nav > ul > li.vdivider {
  padding: 0 20px;
}

header > .inner-header > h1 {
  min-width: 50%;
  padding-left: 130px;
  font-weight: 700;
  color: var(--color-primary);
  font-size: 26px;
}

.welcome-section,
.software-services-section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: linear-gradient(rgba(186, 196, 250, 0.1), hwb(224 1% 79% / 0.9)),
    url("./assets/image/wft-home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100dvh;
  width: 100%;
}

.welcome-section {
  background: linear-gradient(rgba(186, 196, 250, 0.1), hwb(224 1% 79% / 0.9)),
    url(./assets/image/wft-home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  background-position: left;
}

.welcome-section > .overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  z-index: 100;
  position: absolute;
}

.welcome-section > picture {
  width: 100svw;
  height: 100svh;
  object-fit: cover;
  box-sizing: border-box;
  overflow: hidden;
}

.welcome-section > .welcome-text > p {
  font-size: 2.5vh;
  font-weight: 600;
  text-shadow: #021403 2px 0 4px;
  text-align: center;
  -webkit-text-stroke: 2px #053676;
  font-weight: 600;
  paint-order: stroke fill;
  color: #eff3fa;
}

.welcome-section > .welcome-text {
  color: #000d0e;
  position: absolute;
  max-width: var(--mx-width);
  padding: 20px;
  margin-bottom: 8px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-shadow: antiquewhite;
  z-index: 101;
  bottom: 60px;
}

.software-services-section {
  min-height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 80px;
  background: url(/assets/image//ux-design.png);
  background-repeat: repeat-y;
  background-size: cover;
}

.software-services-section > .software-services-container {
  max-width: var(--mx-width);
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-around;
}

.software-services-section > .software-services-container > .ser-box {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex: 1 1 300px;
  max-width: 300px;
  align-items: center;
}

.software-services-section > .software-services-container > .ser-box > h2 {
  font-size: 20px;
}

.software-services-section > .software-services-container > .ser-box > img {
  width: 100%;
  object-fit: cover;
}

.welcome-section > .welcome-text > h1 {
  font-size: 6vh;
  margin-top: 0;
  text-shadow: #021403 13px 0 11px;
  text-align: center;
  line-height: 8vh;
  -webkit-text-stroke: 2px var(--color-primary);
  font-weight: 800;
  paint-order: stroke fill;
  margin-bottom: 20px;
}

.welcome-section > .welcome-text > button {
  padding: 1.2vh;
  border-radius: 4px;
  background: var(--color-primary);
  color: white;
  min-width: 200px;
  border: white 1px solid;
  font-size: 3vh;
  margin-top: 28px;
}

.welcome-section > .welcome-text > button:hover {
  background: #2196f3;
}

.footer {
  background: var(--color-primary);
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.footer .text-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.footer .text-content .design-develop {
  color: #e5e7eb;
}

.footer .text-content div {
  text-align: center;
}

.footer img {
  width: 100px;
  background: white;
  border-radius: 50%;
}

.pulse-border a {
  text-decoration: none;
  color: white;
}

@keyframes pulse-border {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.7);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(0, 123, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
  }
}

.pulse-border {
  animation: pulse-border 2s infinite 5s;
  animation-iteration-count: 3;
  border-radius: 4px;
}

.service-section {
  margin-top: 30px;
  height: 521px;
  overflow: hidden;
  background-image: linear-gradient(
      to bottom,
      rgba(249, 250, 251, 0.1),
      rgba(249, 250, 251, 1)
    ),
    url(assets/image/service.png);
  width: 100%;
  background-size: cover;
  color: #fff;
  padding: 20px;
  border-radius: 10px 10px 0 0;
  background-position: top;
}

/* .font-icon-btn.burger {
  display: none;
} */

/* .burger {
  display: none;
} */

@media (max-width: 800px) {
  /* .welcome-section > .welcome-text {
    padding-top: 100px;
  }
  a.logo {
    padding: 10px;
  }
  .top-links {
    display: none !important;
  }
  a.logo > .big-img {
    display: none;
  }
  a.logo > .small-img {
    display: block;
  } */
  .font-icon-btn.burger {
    display: block;
  }

  .navigation {
    display: none;
  }
  .burger {
    display: block;
  }
  .welcome-section > .welcome-text > h1 {
    font-size: 4vh;
  }
  header > .inner-header > h1 {
    font-size: 18px;
    padding-left: 102px;
    font-weight: 800;
  }
  header > .inner-header > a {
    height: 90px;
  }

  header > .inner-header > a > img {
    height: 90px;
  }
}

.vertical-menu img {
  width: 30vh;
}

.vertical-menu img.close-button {
  width: 24px;
  height: 24px;
}
.vertical-menu ul {
  padding-top: 50px;
  gap: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
  padding: 0;
  color: var(--color-light-yellow);
  margin-top: 60px;
}
.vertical-menu ul li {
  font-size: 18px;
  border-bottom: 1px solid var(--color-secondary);
  padding: 13px 24px;
  width: 100%;
}
.vertical-menu ul li:last-child {
  border-bottom: 0;
}
.vertical-menu ul li:hover {
  background-color: var(--color-secondary);
}
.vertical-menu ul li a.nav-link {
  display: block;
  text-decoration: none;
  color: var(--color-light-yellow);
  width: 100%;
}
.vertical-menu .font-icon-btn {
  background: 0 0;
  border: 0;
  position: absolute;
  right: 24px;
  top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vertical-menu {
  margin-left: auto;
  position: fixed;
  visibility: hidden;
  transform: translateX(200%);
  transition: all 0.4s ease;
  z-index: 1000;
  width: 50vw;
  background-color: #fcfcfc;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  max-width: 600px;
}
.vertical-menu.show {
  box-shadow: 0 0 0 100000px rgba(0, 0, 0, 0.4);
  transform: translateX(0);
  visibility: visible;
  z-index: 3001;
  background: var(--color-primary);
  color: #fff;
}

.vertical-menu .logo-section {
  position: absolute;
  display: flex;
  background: white;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
  bottom: 0;
  border: 4px solid var(--color-primary);
}

@media (max-width: 650px) {
  .vertical-menu {
    width: 100vw;
  }
}

button {
  padding: 0;
}
